body {
    background-color: #f8f9fa;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
}

.result {
    height: 60vh; /* Establece la altura máxima del div */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    border: 1px solid #ccc; /* Opcional: Añade un borde para mayor claridad */
    padding: 1px; /* Opcional: Agrega relleno para un mejor aspecto */

}

.msg1 {
    border-radius: 1px 30px 1px;
    background-color: rgb(203, 227, 226);
    padding: 2%;
    color: black;
    margin-left: 10px;
    width: 90%;
    text-align: right;
}

.msg2 {
    border-radius: 1px 30px 1px;
    background-color: rgb(217, 218, 227);
    margin: 2px;
    padding: 2%;
    color: black;
}

.p-4{
    float: right;
    width: 75%;
    height: 530px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 25px;
}
.p-5{
    float: right;
    width: 24%;
    height: 530px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 25px; 
    margin-left:5px;
    text-align: center;
    background-color: #003B70;
}
.list-unstyled{
    align-content: center;
    width:220px;
    height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003B70;
    text-decoration: none;
    overflow-y: auto;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: #D7B860;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }




  li h6 {
    display: block;
    color: #D7B860;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #D7B860;
    background-color: #124878;
  }

  li:last-child {
    border-right: none;
  }

#footer {
    text-align: center;
    margin-top: 10px;
}

.btn {
    color: #D7B860;
    background-color: #133f65;
    margin-left: 3px;
}

.btn:hover {
    color: #D7B860;
    background-color: #124878;
    margin-left: 3px;
}

h5{
    color: #D7B860;
    margin-bottom: 20px;
}

.list {
    cursor: pointer;
    border-bottom: #D7B860 1px solid;
}